
/* Overall styles */
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth; /*currently only Firefox and Chrome */
}

* a {
    color: white;
    text-decoration: none;
}

/* Header Styles */
header{
    display: flex;
    background-color: rgba(0,0,0,.7);
    color: white;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    position:fixed;
    width: 100vw;
    z-index: 100;
}

.brand-wrapper{
    display: flex;
    margin: 0.5em 1em 0 1em;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;

    
}


nav ul {
    list-style: none;
    margin: 0em 1em;
    padding: 0;
    display: flex;    
}

nav li {
    display: inline-block;
    margin: 5px;
}

nav a:hover{
    font-weight: bolder;
    
}
.book-icon{
    margin: 10px;
    height: 25px;
    width: 25px;
}
/* Hero and CTA Styles */
.hero{
    /* white gradient over hero image to help cta stand out more */
    background:linear-gradient(to bottom, rgba(255, 255, 255, .5), rgba(255,255,255, .5)), url(assets/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vmax;
    padding: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cta {
    font-size: 1.5rem;
}
.cta-btn{
    
    color: white;
    background-color:  rgba(123, 11, 11, .8);
    border:none;
    border-radius: 5%;
    height: 3em;
    padding: .5em;
    font-size: 1rem;
}

.cta-btn:hover{
    cursor: pointer;
}
/*remove blue outline on button focus in chrome */
button:focus{
    outline: 0;
}

/* Section Styles */

/* About Section Styles */
.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 2;
    

}
.about h3{
    text-align: center;
}
.about-who, .about-what{
    color:white;
    background-color: rgba(123, 11, 11, 1);
    padding: 15%;
    padding-top: 5%;
    background-image: url(assets/dark-leather.png);
    text-align:center; 
    /* opacity: .8; */
}
.about-who{
    padding-bottom: 5%;
}

/* .about-who::after{
    content: url(assets/book.svg);
    display: inline-block;
    padding-top: 10%;
    margin:0;
    opacity: .70;
    
} */

/* Bookshelf section Styles */
.book-shelf{
    padding-top: 5%;
}
.book-shelf h3{
    text-align: center;
}

.book-shelf img {
    height: 400px;
    width: 300px;
}
.books{
    -ms-overflow-style: none;  /* Hide scrollbar on IE 10+ */
    scrollbar-width: none;  /* Hide scrollbar on Firefox */
    display:flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
  
    
}


/* Hide scrollbar on Safari and Chrome */
.books::-webkit-scrollbar { 
    display: touch;  
}

.scroll-left, .scroll-right {
    appearance: none;
    padding: 0;
    border: 0;
    position: sticky;
    height: 85px;
    background: rgba(0,0,0, .4);
    /* background-color: rgba(123, 11, 11, 1); */
    border-radius: 50%; 
    padding: 20px;
    z-index:10;
    display: flex;
    align-items: center;
    top: 35%;
}

.scroll-left{
    left:5px;
    

}

.scroll-right{
    right: 5px;
}

.scroll-left:hover, .scroll-right:hover{
    background: rgba(0,0,0, .8);
}
.scroll-icon{    
        width: 20px;
        height: 44px;
        fill: #fff;
}

.hidden{
    visibility: hidden;
}

figure{
    text-align: center;
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 1em auto;
    padding-right: .5em;
    justify-self: center;
    
}

figcaption{
    color: white;
    width: 300px;
    background-color: rgba(0,0,0, .9);
    position:absolute;
    bottom: 0px;
    padding: 20px 0;
    opacity:0;
    transition-property: opacity;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
    
}

figure:hover figcaption{
    opacity: 1;
    
}

/* Connect Section Styles */
.connect{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.pitch{
    background-color: rgba(123, 11, 11, 1);
    background-image: url(assets/dark-leather.png); 
    color:white;
    padding: 2em 1em 3em 1em; 
}


.map img, .google-map {
    width: 100vw;
    /* to prevent overflow set max width as well */
    max-width: 100%;
    /* to get rid of the space for descenders 
    in inline elements as img tag is an inline element */
    display:block; 
    
    
}

/* Footer Styles */
footer{
    background-color:black;
    color:white;
    padding: 2em;
    margin:0;
}

/* Media Queries for screens larger than 600px */
@media only screen and (min-width: 600px){
    body{
        font-size: 1.15rem;
    }
    header{
        flex-wrap:nowrap;
        justify-content: space-between;
        
    }

    nav{
        padding: .75em;
    }
    .hero{
        height: 75vh;
        background-attachment: fixed;
    }

    .cta{
        font-size: 2.5rem;
    }
    .about{
        /* flex-wrap: nowrap; */
        min-height: 45vh;
        
        
    }
  
    .connect{
        flex-wrap: nowrap;
        justify-content: space-between;
        max-height: 70vmax;
    }
    .pitch{
        max-width: 70vw;
        padding-top: 5%;
    }
    .map{
        text-align: center;
        display: flex;
        align-items: center;
        background-color: rgba(123, 11, 11, 1);
        background-image: url(assets/dark-leather.png); 
    }
    .map img, .google-map{
        width:50vw;
        min-width: 300px;
        padding: 1em;
    }
}